.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  
  h1 {
    color: #0d6efd;
    margin-bottom: 30px;

  }
  
  .done {
    text-decoration: line-through;
  }
}