<div class="container text-center">
  <h1>LISTA DE TAREFAS</h1>
  <form [formGroup]="form" class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Digite uma tarefa" aria-label="Enter todo"
          aria-describedby="button-addon2" formControlName="newTodo">
        <button class="btn btn-primary" type="button" id="button-addon2" (click)="saveTodo()">Adicionar</button>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let todo of todos; let i = index;">
            <th scope="row">{{ i+1 }}</th>
            <td class="{{( !todo.isCompleted)?'done':'' }}" (click)="done(i)">{{ todo.name }}</td>
            <td style="color: red; font-weight: bold;" (click)="remove(i)">X</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>